<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="gropusTest">
  <groups>
  <run>
  <include name="flavour"></include>
  <exclude name="fruit"></exclude>
  
  
  </run>
  
  </groups>
    <classes>
      <class name="automation.maven.AppTest"/>
      <class name="automation.maven.MaventestgroupTest"/>
    </classes>
  </test> <!-- gropusTest -->
</suite> <!-- Suite -->
